@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

:root {
  --background-gray-color: #f5f7f9;
  --primary-text-color: #333333;
  --text-focus-color: #3d3dfe;

  --light-gray: #c9c9c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 280px auto;
  grid-template-rows: 90px auto;
}

/* ------------------------------------- */
/* ------------------ start header ---------------- */
.header-container {
  grid-area: header;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 20px 50px 0px #00000012;
  z-index: 1;

  /* to make header fixed */
  /* width: 80%;
  position: fixed;
  height: 90px;
  margin-left: 280px; */
}

.search-container {
  background-color: var(--background-gray-color);
  padding: 5px;
  width: 350px;
  border-radius: 8px;
  margin-left: 10px;
  /* margin: 30px; */
  display: flex;
  align-items: center;
  height: 35px;
}
@media screen and (max-width: 1200px) {
  .search-container {
    width: 280px;
  }
  .header-container {
    padding: 10px;
  }
}
.search-container .search-bar {
  border: none;
  padding: 5px;
  background-color: var(--background-gray-color);
}
.search-container .search-icon {
  color: gray;
  width: 20px;
  height: 20px;
}
.search-container input {
  width: 100%;
}
.header-user-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.line {
  height: 25px;
  width: 1.5px;
  background-color: var(--primary-text-color);
}
.notify-icon-container {
  position: relative;
}
.notify-icon {
  width: 30px;
  height: 30px;
}
.messege-icon {
  width: 30px;
  height: 30px;
}
.notification-count {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  text-align: center;
  color: white;
}
.header-user-nav div {
  margin-left: 25px;
}

.user-img {
  /* text-align: center; */
  /* padding-top: 5px; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid rgb(223, 223, 223); */
  background-color: var(--background-gray-color);
  margin-left: 1px !important;
  /* background: url("../icons/Mask\ group.svg");
  background-size: cover; */
}

.user-down-arrow {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
.currency {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-text-color);
}
.select-currency {
  border: none;
  appearance: none;
  width: 30px;
}
.currency img {
  width: 10px;
  height: 10px;
}
.select-currency:focus {
  outline: none;
}

.header-user-nav .user {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: nowrap;
}
.header-user-nav .user .user-name {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

/*---------------------------- */
/* ---------- Start sideBar ----------------------- */
.sidebar-container {
  display: flex;
  grid-area: sidebar;
  /* background-color: var(--background-gray-color); */
  background: linear-gradient(180deg, #eaeaff 0%, #e4fff2 100%);

  height: 100%;
  border-right: 1px solid #d3d3d3;
  min-height: 100vh;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 15px 30px;
  box-shadow: 10px 0px 50px 0px #00000012;

  /* to make sidebar fixed */
  /* width: 280px;
  position: fixed; */
}

.logo img {
  width: 150px;
  height: 70px;
  /* background-color: blue; */
  margin-bottom: 10px;
}
.totel-investment {
  width: 190px;
  height: 60px;
  background-color: black;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  color: #fff;
  position: relative;
}
.totel-investment h6 {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 5px;
}
.total-investment-rate {
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 10px;
  font-weight: 300;
  color: #1ea84f;
  font-size: 11px;
  font-weight: 600;
}
.arrow-icon img {
  width: 10px;
  height: 12px;
  padding-top: 2px;
}
.eye-icon {
  width: 10px;
  height: 10px;
}
.mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 28px;
  background-color: black;
  border-radius: 14px;
  margin: 6px 0px;
  padding: 3px 1px;
}
.mode h6 {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  margin: 0px 3px;
  text-align: center;
  font-size: 10px;
}
.light-mode {
  background-color: #fff;
}
.light-mode,
.dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode {
  color: #fff;
}
.light-icon,
.dark-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.light-icon {
  color: rgb(255, 208, 0);
}
.sidebar-van-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 70%;
  font-weight: 700;
}
.sidebar-van-container .stock-prediction-select {
  font-size: 16px;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.sidebar-van-container ul li a {
  color: var(--primary-text-color);
}
.sidebar-van-container ul li {
  padding: 10px 0px;
}
.sidebar-up-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.sidebar-bottom-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #d3d3d3;
  padding-top: 15px;
  margin-top: 10px;
  font-weight: 500;
}
.setting-container {
  display: flex;
  justify-content: space-between;
}
.setting-icon-text-box {
  display: flex;
  align-items: center;
}
.setting-notification-count {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid white;
  font-size: 9px;
  color: white;
  padding-left: 4px !important;
}
.stock-prediction-select {
  border: none;
  font-size: 14px;
  font-weight: 700;
  background: none;
  appearance: none;
  padding-right: 40px;
}
.stock-prediction-select-container {
  /* margin-left: 4px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stock-prediction-select-container img {
  width: 10px;
  height: 10px;
}

.sidebar-icon-size {
  width: 20px;
  height: 20px;
}
.sidebar-van-container a {
  display: flex;
  align-items: center;
}
.sidebar-van-container span {
  padding-left: 5px;
}

/* --------------changing sidebar active icons color  --------------*/
.dashboard-icon-color {
  filter: brightness(0);
}
/* .filter-icon-color {
  filter: brightness(0);
} */

/* .stock-recommendation-icon-color {
  background-color: #3d3dfe;
} */

/*---------------------------- */
/* ---------- Start main ------------ */
.main-container {
  grid-area: main;
  background-color: var(--background-gray-color);
  padding: 40px;
  /* min-height: 100vh; */
}
.title {
  font-weight: 700;
  font-size: 18px;
  padding-left: 5px;
}
.contant-container {
  margin: 15px 0px;
}
.card {
  padding: 20px 18px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}
.card-head {
  font-weight: 700;
  border-bottom: 1px solid #f0f0f0;
  /* padding: 20px 0px; */
  padding-bottom: 25px;
  font-size: 16px;
}
/*---------------------------- */
/* ----------- Start Dashboard section-------------- */
.dashboard-card {
  height: 550px;
  width: 200px;
}
/* ----------- End Dashboard section -------------- */

/*---------------------------- */
/* ----------- Start stock prediction section-------------- */
/* ----------- End stock prediction section-------------- */

/*---------------------------- */
/* ----------- Start stock recommendation section -------------- */
.stock-recommendation-card {
  height: 350px;
  width: 300px;
}
.stock-recommendation-nav ul {
  display: flex;
  flex-direction: row;
}
.stock-recommendation-nav ul li {
  list-style: none;
  padding: 7px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.stock-recommendation-nav ul li a {
  border-bottom: 1px solid #dadee3;
  color: #545d69;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 14px;
  transition: 0.3s;
}

.stock-recommendation-nav ul li a:hover {
  border-bottom: 1px solid var(--text-focus-color);
  color: var(--text-focus-color);
}

/* ----------- End stock recommendation section-------------- */

/*---------------------------- */
/* ----------- Start portfolio optimization section-------------- */

.welcome-card {
  padding: 60px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 50px 0px #00000012;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.welcome-card h2 {
  width: 250px;
  font-size: 30px;
  padding-bottom: 10px;
}
.welcome-card p {
  font-size: 14px;
  color: #595961;
  width: 250px;
}
.welcome-card img {
  width: 100%;
  /* height: 300px; */
}

.level-card-title {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-gray-color);
  font-weight: 600;
  font-size: 18px;
}
.level-card-title h6 {
  color: #595961;
  padding: 10px;
}
.level-cards-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px;
  justify-content: center;
}
.level-card {
  box-shadow: 0px 12px 30px 0px #00000012;
  padding: 10px 20px;
  /* width: 300px; */
  /* height: 100px; */
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.level-card p {
  font-size: 12px;
  color: #595961;
  margin-top: 3px;
}
@media screen and (min-width: 1200px) {
  .level-card {
    width: 300px;
  }
}
.level-card-container {
  margin-top: 25px;
}
.level-card button {
  width: 150px;
  height: 40px;
  padding: 10px, 14px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  background: linear-gradient(90deg, #1ed760 0%, #0000ff 100%);
  font-size: 12px;
  color: white;
  margin-top: 20px;
}
.expert-tag {
  border: 1px solid #3da864;
  font-size: 9px;
  color: #3da864;
  padding: 0px 2px;
  margin-left: 3px;
}
.beginner-tag {
  border: 1px solid gray;
  font-size: 9px;
  color: gray;
  padding: 0px 2px;
  margin-left: 3px;
}
.intermediat-tag {
  border: 1px solid #0000ff;
  font-size: 9px;
  color: #0000ff;
  padding: 0px 2px;
  margin-left: 3px;
}
.risk-tolerance {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 15px 0px;
}
.risk-tolerance label {
  margin-bottom: 3px;
  padding-left: 5px;
}
.required-star {
  color: red;
}
input {
  border: 1px var(--light-gray) solid;
  border-radius: 5px;
  padding: 5px;
}
.portfolio-optimization-inputs {
  width: 250px;
}

input:focus {
  outline: none;
}
input::placeholder {
  font-size: 12px;
  color: var(--light-gray);
}
.advances-details {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s;
  /* display: none; */
}
.green-sun-icon {
  color: #1ea84f;
  width: 13px;
  height: 13px;
}
.advandes-details-title {
  border-bottom: 1px solid var(--light-gray);
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.arrow-position {
  position: absolute;
  right: 6px;
  top: 0;
}
.show-arrow {
  display: none;
}
.advances-details .up-arrow {
  float: right;
  padding-right: 5px;
  font-size: 20px;
}
.advances-details .up-arrow:hover {
  cursor: pointer;
}
.potrfolio-assets-ticker-bar {
  display: flex;
  justify-content: space-between;
}
.add-ticker-icon {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
}
.percent-icon {
  width: 15px;
  height: 15px;
}
.portfolio-assets-table .search-icon {
  color: #858c94 !important;
}
.add-ticker {
  background-color: var(--background-gray-color);
  border: 1px solid var(--light-gray);
  color: gray;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
}
button:hover {
  cursor: pointer;
}
/* ---------hide show assets section ---------------*/
.portfolio-assets-hide {
  display: none;
}
/* .down-arrow-hide {
  display: none;
} */
.potrfolio-assets-lable {
  font-size: 12px;
}
.table-input {
  border: none;
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .table-input {
    width: 80%;
  }
  .container {
    grid-template-columns: 260px auto;
  }
}

.input-container {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 0px 5px;
}
.portfolio-assets-table {
  border: 1px solid #f0f0f0;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}
.portfolio-assets-table thead {
  background-color: #f9f9f9;
}
.portfolio-assets-table thead th {
  padding: 5px;
  font-size: 12px;
  text-align: left;
}
.portfolio-assets-table thead th:first-child {
  border-top-left-radius: 9px;
}
.portfolio-assets-table thead th:last-child {
  border-top-right-radius: 9px;
}

tr td {
  padding: 10px;
  margin: 10px;
}
tr:not(:last-child) td {
  border-bottom: 1px solid #f0f0f0;
}

.input-icon {
  font-size: 12px;
  color: var(--light-gray);
  float: right;
  padding: 3px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
.advances-details .search-icon {
  width: 15px;
  height: 15px;
  color: var(--light-gray);
}

.advanced-details-buttons-container {
  padding: 20px 0px;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}

.stock-sector-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: end;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--background-gray-color);
  gap: 20px;
}
.stock-sector-container {
  background-color: #ebf0f4;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--primary-text-color);
}
.stock-buttons-container button {
  margin-right: 5px;
}
.checkbox-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.stock-sector-container label {
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
  color: #4f4f4f;
}
.stock-sector-container input {
  appearance: none;
  border: 1px solid var(--light-gray);
  background-color: white;
  border-radius: 2px;
}
.stock-sector-container input,
.stock-sector-container label {
  vertical-align: middle;
}
.float-bottons {
  float: right;
}
.clear-fix {
  clear: both;
}
.advanced-details-button1 {
  width: 80px;
  height: 35px;
  padding: 10px, 14px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  background-color: white;
  font-size: 12px;
  margin-right: 5px;
}
.advanced-details-button2 {
  width: 120px;
  height: 35px;
  padding: 10px, 14px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  background: linear-gradient(90deg, #1ed760 0%, #0000ff 100%);
  font-size: 12px;
  color: white;
}
.right-arrow-icon {
  width: 10px;
  height: 10px;
}

/* -------summary section ---- */

.summary-title {
  border-bottom: 1px solid var(--background-gray-color);
  padding: 20px 0px;
}
.summary-title-content {
  font-size: 14px;
  font-weight: 700;
  width: 100px;
  border-bottom: 2px solid var(--text-focus-color);
  color: var(--text-focus-color);
  padding: 0px 5px;
  padding-bottom: 3px;
}
.summary-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.summary-assets-table {
  border: 1px solid #f0f0f0;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
}
.check-circle-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  padding-bottom: 2px;
}
.summary-assets-table thead {
  background-color: #f9f9f9;
  border-radius: 10px;
  /* padding-left: 3px; */
}
.summary-assets-table thead th {
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
.summary-assets-table thead th:first-child {
  border-top-left-radius: 9px;
}
.summary-assets-table thead th:last-child {
  border-top-right-radius: 9px;
}

tr td {
  padding: 10px;
  margin: 10px;
}
tr:not(:last-child) td {
  border-bottom: 1px solid #f0f0f0;
}
.summary-assets-table .td-color {
  color: gray;
}
.expected-returns {
  width: 100%;
  margin: 20px 0px;
  padding: 10px 20px;
  border: 1px solid #3da864;
  background-color: #fafffb;
  color: #3da864;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  gap: 10px;
}
.expected-icon {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  margin-right: 5px;
}
.expected-returns-percent {
  background-color: white;
  box-shadow: 0px 9px 30px 0px #00000012;
  width: 90px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  color: #6ab686;
}

.best-performing-title {
  border-bottom: 1px solid var(--background-gray-color);
  padding: 20px 0px;
  font-weight: 700;
}
.best-performing-cards-container {
  padding: 20px 0px;
  border-bottom: 1px solid var(--background-gray-color);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.card-content {
  box-shadow: 0px 9px 30px 0px #00000012;
  padding: 10px;
  font-size: 14px;
  min-width: 130px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  border-radius: 5px;
}
.card-content h6 {
  margin-bottom: 3px;
}
.best-performing-cards-container .rate {
  color: #6ab686;
}

.best-performing-chart {
  width: 100%;
  height: 300px;
}
/* ----------- End portfolio optimization section-------------- */

/*---------------------------- */
/* ----------- Start compare portfolio section-------------- */
/* ----------- End compare portfolio section-------------- */

/* ----------- Start  stock analysis (future prediction nav)  section-------------- */
.card {
  box-shadow: 0px 10px 50px 0px #00000012;
}

.stock-analysis-nav ul {
  display: flex;
  flex-direction: row;
}
.stock-analysis-nav ul li {
  list-style: none;
  padding: 7px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.stock-analysis-nav ul li a {
  border-bottom: 1px solid #dadee3;
  color: #545d69;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
}

.stock-analysis-nav ul li a:hover {
  border-bottom: 1px solid var(--text-focus-color);
  color: var(--text-focus-color);
}
.focused {
  color: #0000ff !important;
  border-bottom: 1px solid #0000ff !important;
}
.model {
  margin: 20px 15px;
}
.model h3 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 20px;
}
.model-label {
  font-weight: 700;
  font-size: 12px;
  margin-right: 30px;
}

.switch-btn-bg {
  height: 17px;
  width: 42px;
  background-color: #dadee3;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.on {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #0000ff;
  box-sizing: content-box;
  border: 8px solid #b7bfeb;
  margin-top: -9px;
  margin-left: 9px;
}
.off {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #242424;
  margin-top: -2px;
}
.future-prediction-inputs-container {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 15px;
  gap: 30px;
  width: 100%;
}
.future-prediction-input {
  width: 100%;
}

.future-prediction-inputs-container .input {
  border: 1px solid #858c94;
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 5px;
  margin-left: -10px;
}

.future-prediction-input h6 {
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
}

.future-prediction-inputs-container .input img {
  width: 17px;
  vertical-align: middle;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.future-prediction-inputs-container input {
  border: none;
  width: 70%;
}
.future-prediction-input label {
  padding-bottom: 10px;
}

.submit-button {
  margin: 20px 10px;
  width: 120px;
  height: 35px;
  padding: 10px, 14px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  background: linear-gradient(90deg, #1ed760 0%, #0000ff 100%);
  font-size: 12px;
  color: white;
  float: right;
}

.confidence-card {
  margin-top: 30px;
}
.convedence-level-rate-box {
  width: 100%;
  margin: 25px 0px;
  padding: 15px 20px;
  border: 1px solid #3da864;
  background-color: #fafffb;
  color: #3da864;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}

.convedence-level-rate-box h4 {
  background-color: white;
  box-shadow: 0px 9px 30px 0px #00000012;
  width: 90px;
  padding: 10px 14px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  color: #6ab686;
}
.convedence-level-rate-box img {
  width: 12px;
  height: 12px;
}

.convedence-level-rate-box .rate-icon {
  vertical-align: bottom;
  width: 15px;
  height: 15px;
}
.convedence-level-rate-box .red-color {
  color: red;
}
.values-flex {
  display: flex;
  gap: 10px;
  margin: 15px;
  justify-content: center;
  align-items: center;
}
.bar-progres {
  padding: 20px;
}
.median-chart {
  height: 200px;
}
/* ----------- End  stock analysis (future prediction nav) section -------------- */

/* ----------- start stock analysis (stock analysis nav) section-------------- */

.stock-analysis-cards-container {
  display: grid;
  grid-template-areas:
    "analysis-chart-card analysis-chart-card analysis-chart-card"
    "watch-list-card apple-inc-card apple-inc-card";
  gap: 10px 20px;
}
.analysis-chart-card {
  grid-area: analysis-chart-card;
}
.watch-list-card {
  grid-area: watch-list-card;
}
.apple-inc-card {
  grid-area: apple-inc-card;
}
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  margin: 0px auto;
  max-width: 650px;
  color: #595961;
}
.select-aapl,
.select-time {
  border: 1px solid #cccccc;
  padding: 2px 5px;
  border-radius: 5px;
}
.select-aapl select {
  appearance: none;
  border: none;
  color: #595961;
  font-size: 12px;
  padding: 0px 5px;
}
.chart-header .hour {
  color: #feba08;
}
.select-time span {
  padding-right: 5px;
}
.analysis-chart-card .down-arrow {
  width: 12px;
  vertical-align: middle;
  margin-left: 8px;
}
.chart-header img {
  width: 20px;
  height: 20px;
}
.watch-list-title {
  margin-bottom: 10px;
}
.watch-list-title img {
  width: 15px;
  margin-right: 10px;
}
.watch-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
}
.watch-list-content h4 {
  font-size: 14px;
  color: #212121;
}
.watch-list-content h3 {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
}
.watch-list-content .purchase {
  text-align: center;
}
.watch-list-content .purchase h3 {
  font-weight: 600;
}

.watch-list {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  margin-right: 30px;
}
.watch-list input,
.watch-list img {
  margin-right: 5px;
}
.watch-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watch-list img {
  width: 38px;
  height: 38px;
}
.watch-list input {
  appearance: none;
  border-radius: 2px;
}
.watch-list .spot-img {
  width: 42px;
  height: 42px;
}
.apple-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.apple-title h5 {
  color: #848484;
  font-weight: 300;
}
.apple-title img {
  margin-right: 10px;
  width: 42px;
  height: 42px;
}
.apple-sub-title {
  padding-bottom: 10px;
}
.apple-sub-title span {
  font-weight: 600;
}
.apple-sub-title img {
  width: 19px;
  vertical-align: middle;
  color: gray;
}
.apple-sub-title2 {
  color: #7a7a7a;
}
.apple-sub-title2 span {
  padding-right: 4px;
}
.apple-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
}

.apple-value-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid #e9e9e9;
}
.apple-value-sec .up-rate {
  width: 70px;
  height: 20px;
  background-color: #3da864;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  display: inline-block;
}
.apple-value-sec .up-rate img {
  width: 10px;
  height: 10px;
  margin-top: 2px;
}
.apple-value-sec h4 {
  font-weight: 600;
  font-size: 20px;
  padding-left: 5px;
}
.flex-values {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.apple-value-sec p {
  color: #848484;
  font-size: 12px;
  font-weight: 400;
}

.apple-value-sec .down-rate {
  width: 70px;
  height: 20px;
  background-color: #d34645;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  display: inline-block;
}
.orange-text {
  color: #f8961e !important;
}
.apple-value-sec .down-rate img {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.related-news-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.related-news-head img {
  vertical-align: bottom;
  height: 20px;
}
.related-news-content {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}
.related-news-head span {
  font-size: 14px;
  padding-right: 3px;
}
.related-news-content p {
  padding-top: 10px;
  font-size: 14px;
  color: #7a7a7a;
}
.red-more {
  color: #0070d1;
  padding: 20px 0px 0px;
}
.red-more img {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
  margin-left: 3px;
}

/* chart box  */
.analysis-chart-box {
  height: 450px;
  position: relative;
}
.analysis-chart-box .chart-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 390px;
  width: 300px;
  box-shadow: 0px 10px 50px 0px #00000012;
  border-radius: 15px;
  border-left: 4px solid #0000ff;
  padding: 15px 10px;
}
.chart-popup .chart-popup-taps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 0px 5px;
}
.chart-popup .chart-popup-taps img {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
  margin-right: 3px;
}
.chart-popup .chart-popup-taps a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.chart-popup .popup-bg {
  background-color: #f4f4f4;
  border-radius: 5px;
}
.chart-popup .popup-content {
  padding: 10px;
  margin: 10px 0px;
}
.chart-popup .popup-content .flex-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart-popup .popup-content .flex-text img {
  vertical-align: bottom;
}
.chart-popup .popup-content p {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.chart-popup .popup-content .flex-text span {
  font-size: 13px;
  color: #7a7a7a;
}
.chart-popup .popup-content .flex-text span img {
  width: 20px;
  margin-right: 3px;
}
.chart-popup .popup-content .flex-text .flex-icons {
  display: flex;
  margin-left: 15px;
}
.chart-popup .popup-content .flex-text .flex-icons img {
  width: 30px;
  margin-left: -15px;
}
.chart-popup .popup-content p {
  padding-top: 5px;
}
.chart-popup .more-news {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  padding-left: 10px;
}
.chart-popup .more-news img {
  width: 20px;
  vertical-align: bottom;
  margin-left: 4px;
}
/* ----------- end  stock analysis (stock analysis nav) section-------------- */
/* ----------- start  compare portfolios section-------------- */
.choose-portfolio-card {
  padding-bottom: 10px;
}
.choose-portfolio-card .inputs-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 15px;
  gap: 30px;
  width: 100%;
}
.input-content {
  width: 100%;
}

.inputs-container .input {
  border: 1px solid #858c94;
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 5px;
  margin-left: -10px;
}

.input-content h6 {
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
}

.inputs-container .input img {
  width: 17px;
  vertical-align: middle;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.inputs-container input {
  border: none;
  width: 70%;
}
.portfolios-number label {
  font-size: 14px;
  padding-left: 15px;
  font-weight: 500;
}
.portfolios-number-bar {
  margin: 20px;
}
.cancle-btn {
  width: 80px;
  height: 35px;
  padding: 10px, 14px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  background-color: white;
  font-size: 12px;
  margin-right: 5px;
  font-weight: 600;
}
.choose-portfolio-card .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tabs ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.tabs ul li {
  list-style: none;
  padding: 7px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.tabs ul li a {
  border-bottom: 1px solid #dadee3;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  padding-left: 25px;
}

.tabs ul li a:hover {
  border-bottom: 1px solid var(--text-focus-color);
  color: var(--text-focus-color);
}
.focused {
  color: #0000ff !important;
  border-bottom: 1px solid #0000ff !important;
}
.tabs img {
  vertical-align: middle;
  margin-bottom: 3px;
  width: 15px;
}

.checkmark-icon {
  position: relative;
}
.checkmark-icon:after {
  content: "✔";
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 14px;
  text-align: center;
  background: #858c94;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: 300;
  margin-left: -19px;
}

.focused .checkmark-icon:after,
.tabs ul li a:hover .checkmark-icon:after {
  background: #0000ff;
}

.weight-style-input h5 {
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}
.weight-style-input label {
  font-size: 12px;
  font-weight: 600;
  margin: 0px 18px 0px 12px;
}
.align-item {
  display: flex;
  align-items: center;
}

.weight-style-input input {
  appearance: none;
}
.weight-style-input input:checked {
  border-radius: 50%;
  border: 3px solid #0000ff;
  box-sizing: border-box;
  padding: 3px;
  position: relative;
  width: 13px;
  height: 13px;
}
.weight-style-input input:checked::before {
  content: "";
  width: 13px;
  height: 13px;
  border: 7px solid #b7bfeb54;
  position: absolute;
  border-radius: 50%;
  left: -10px;
  margin-top: -13px;
}
.flex-text-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  /* justify-content: space-between; */
}
.flex-text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.risk-return-content {
  margin: 20px;
}
.risk-return-content h5 {
  font-size: 14px;
  margin-top: 20px;
}
.risk-return-content h6 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  color: #3da864;
}
.risk-return-content .risk-return-chart {
  min-width: 300px;
  min-height: 200px;
  box-shadow: 0px 12px 30px 0px #00000012;
  padding: 20px;
  margin-top: 20px;
}

.weight-distribution-card .flex-text-row {
  gap: 20px;
  /* justify-content: space-between; */
}

.weight-distribution-container .section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.weight-distribution-container .section-title img {
  width: 20px;
  margin-right: 10px;
}
.weight-distribution-container .section-sub-title {
  font-size: 12px;
  margin: 10px;
}
.weight-distribution-container .arrow-up {
  width: 15px !important;
  position: absolute;
  right: 10px;
  /* display: none; */
}

.weight-distribution-container .arrow-down {
  width: 15px !important;
  position: absolute;
  right: 10px;
}
/* hide portfolio weight distribution section  */
.weight-distribution-card-container {
  display: none;
}
.min-hig-risk {
  padding: 20px 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.portfolio-cumulative-section {
  margin-top: 30px;
}
.no-gap {
  gap: 0;
}
.portfolio-cumulative-section .card-head {
  margin-bottom: 20px;
}
.small-card {
  box-shadow: 0px 7px 30px 0px #00000012;
  padding: 10px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}
.green-text {
  color: #6ab686;
}
.portfolio-cumulative-section .stock-return {
  margin: 25px 0px;
  font-weight: 500;
}
.portfolio-cumulative-section h5 {
  padding-left: 10px;
}
.portfolio-cumulative-content .flex-text-row,
.weight-distribution-card .flex-text-row {
  gap: 10px;
}
/* ----------- end  compare portfolios section-------------- */
